body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score {
  display: flex;
  gap: 48px;
}

p {
  font-size: 32px;
}

.buttons {
  display: flex;
  gap: 8px;
}

button {
  background-color: rgb(27, 214, 27);
  color: white;
  border: none;
  padding: 16px 32px;
  font-weight: bold;
  font-size: 24px;
}